<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>ClickMe</title>
</head>

<body>
    <%- include("header.ejs") %>
        <section class="first">
            <section class="heading">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-mg-7 col-lg-7 heading-words">
                            <span class="blur-text1">modern</span>
                            <p>Do with passion</p>
                            <h1>Web App & Mobile App Development</h1>
                            <p>I'm passionate about technology and enjoy solving complex problems through software
                                development.</p>
                        </div>
                        <div class="col-sm-5 col-mg-5 col-lg-5">
                            <img class="home" src="/img/home.png" alt="application">
                        </div>
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container" style="display: flex; flex-direction: row;">
                    <svg class="image" fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-66.56 -66.56 645.12 645.12"
                        xml:space="preserve" stroke="#ffffff" stroke-width="51.2">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <g>
                                <g>
                                    <path
                                        d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,486.4 C128.751,486.4,25.6,383.249,25.6,256S128.751,25.6,256,25.6S486.4,128.751,486.4,256S383.249,486.4,256,486.4z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div class="card about-card">
                        <div class="row">
                            <div class="col-3 col-mg-3">
                                <img class="profile" src="/img/profile.png" alt="profile">
                            </div>
                            <div class="col-9 col-mg-9">
                                <div class="container" style="margin-left: 2vw;">
                                    <h1 class="about-me">about me</h1>
                                    <div class="about-heading">
                                        <p class="about-p"> Associate Software Engineer</p>
                                        <h2>hi, my name is harsha sandakelum</h2>
                                        <div class="container" style="margin-left: -20px;">
                                            <p class="about-des"> I strive to contribute to innovative solutions in the
                                                ever-evolving world of
                                                software engineering. I'm excited to be a part of the dynamic field of
                                                technology and look forward to new challenges and opportunities in my
                                                career.
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="services">
                <div class="container">
                    <h1 class="heading-word">my <br>services</h1>
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-3">
                                    <div class="icon">
                                        <svg width="5vw" fill="#ffffff" version="1.1" id="Layer_1"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            viewBox="-66.56 -66.56 645.12 645.12" xml:space="preserve" stroke="#ffffff"
                                            stroke-width="51.2">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round"
                                                stroke-linejoin="round">
                                            </g>
                                            <g id="SVGRepo_iconCarrier">
                                                <g>
                                                    <g>
                                                        <path
                                                            d="M256,0C114.842,0,0,114.842,0,256s114.842,256,256,256s256-114.842,256-256S397.158,0,256,0z M256,486.4 C128.751,486.4,25.6,383.249,25.6,256S128.751,25.6,256,25.6S486.4,128.751,486.4,256S383.249,486.4,256,486.4z">
                                                        </path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <h2>services</h2>
                                </div>
                                <div class="col-9">
                                    <p style="margin-top: 10%; margin-left:2vw;">My services include but
                                        are not
                                        limited to application
                                        development, web
                                        development,
                                        mobile
                                        app development, database design, API integration, software testing, and
                                        debugging
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>
                </div>

                <div class="container card-section">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 mb-5">
                            <div class="card service-card">
                                <div class="container">
                                    <div class="card-head">
                                        <i class="fa fa-desktop" style="color: #ffffff;"></i>
                                        <h3>web app</h3>
                                    </div>
                                    <p>I specialize in creating cutting-edge web applications that are user-friendly,
                                        efficient,
                                        and visually appealing. I leverage the latest technologies and
                                        best practices to build responsive, secure, and scalable web solutions that
                                        cater to
                                        your unique requirements.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 mb-5">
                            <div class="card service-card">
                                <div class="container">
                                    <div class="card-head">
                                        <i class="fa fa-mobile" style="color: #ffffff;"></i>
                                        <h3>mobile app</h3>
                                    </div>
                                    <p>My mobile app development service is all about turning your ideas into innovative
                                        and
                                        user-friendly mobile applications. With expertise in iOS and Android
                                        development, I
                                        create apps that engage users, solve problems, and deliver a delightful mobile
                                        experience. Whether it's a business app, a game, or a utility tool, I have the
                                        skills to
                                        design, develop, and launch mobile apps that cater to your unique needs.</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 mb-5">
                            <div class="card service-card">
                                <div class="container">
                                    <div class="card-head">
                                        <i class="fa fa-cloud" style="color: #ffffff;"></i>
                                        <h3>cloud</h3>
                                    </div>
                                    <p>I specialize in solutions tailored to major cloud platforms, such as AWS, Azure,
                                        and
                                        Google Cloud, ensuring scalability, security, and cost-efficiency. Let's empower
                                        your
                                        business to leverage the benefits of the cloud, enhance flexibility, and drive
                                        digital
                                        transformation.</p>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
            </section>
        </section>

        <section class="experience"></section>
        <section class="projects"></section>
        <section class="certification"></section>
        <section class="contact"></section>


        <%- include("footer.ejs") %>
</body>

</html>