body {
    background-color: rgb(239, 244, 244);
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

h1 {
    font-size: 58px;
    font-weight: 600;
}

.navbar {
    background-color: #0079FF;
}

.navtabs {
    font-size: 90%;
}

.nav-link {
    color: white;
}



.first {
    background-color: #0079FF;
    color: white;
}

.heading {
    padding-top: 100px;
}

.home {
    width: 100%;
}

.heading-words {
    margin-top: 50px;
}

.blur-text1 {
    font-size: 120px;
    margin-top: 70px;
    margin-left: 50px;
    font-weight: 900;
    position: absolute;
    opacity: 0.1;
}

.about {
    background-color: #0079FF;
}

.image {
    margin-left: -200px;
    height: 600px;
    width: 600px;
}

.about-card {
    background-color: #30A2FF;
    width: 80%;
    height: max-content;
    margin-top: 10%;
    margin-left: -160px;
    /* position: absolute; */
    border-radius: 100px;
    overflow: hidden;
}

.about-des {
    font-size: 12px;
}

.about-heading {
    margin-top: 50px;
}

.profile {
    width: 120%;
    margin-left: 30px;
    margin-top: 25px;
    opacity: 0.9;
}

.about-me {
    font-size: 100px;
    font-weight: 900;
    margin-top: -30px;
    position: absolute;
    opacity: 0.1;
}

.heading-word {
    margin-bottom: -20px;
    font-size: 800%;
    line-height: 0.8;
    opacity: 0.1;
}

.services {
    margin-top: 80px;
}

.card-section {
    margin-top: 80px;
    display: flex;
    column-gap: 30px;
}

.service-card {
    background-color: #30A2FF;
    height: max-content;
    border-radius: 50px;
}

.service-card i {
    font-size: 300%;
}

.card-head {
    margin: 30px;
    display: flex;
    gap: 30px;
}

.card-head h3 {
    margin-top: auto;
    font-size: 200%;
    font-weight: 800;
}

.service-card p {
    margin: 30px;
}

@media only screen and (min-width:1400px) and (max-width:1660px) {
    .profile {
        width: 150%;
        margin-left: 30px;
        margin-top: 25px;
        opacity: 0.9;
    }

    .about-me {
        font-size: 80px;
        font-weight: 900;
        margin-top: -30px;
        position: absolute;
        opacity: 0.2;
        margin-left: 50px;
    }

    h1 {
        font-size: 48px;
        font-weight: 600;
    }

    .image {
        margin-left: -300px;
        height: 50%;
        width: 50%;
    }

    .about-heading {
        margin-top: 50px;
        margin-left: 50px;
    }
}


@media only screen and (min-width:1200px) and (max-width:1400px) {
    .navbar-brand {
        margin: auto;
    }

    .navtabs {
        font-size: 80%;
        margin: auto;
    }

    .heading {
        padding-top: 60px;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .heading-words {
        margin-top: 40px;
    }

    p {
        font-size: 12px;
    }

    .blur-text1 {
        font-size: 80px;
        margin-top: 70px;
        font-weight: 900;
        position: absolute;
        opacity: 0.3;
    }

    .image {
        margin-left: -300px;
        height: 50%;
        width: 50%;
    }

    .about-me {
        font-size: 60px;
        font-weight: 900;
        margin-top: -30px;
        position: absolute;
        opacity: 0.2;
    }

    .profile {
        width: 120%;
        margin-left: 60px;
        margin-top: 25px;
        opacity: 0.9;
    }
}

@media only screen and (min-width:991px) and (max-width:1200px) {
    .navbar-brand {
        margin: auto;
    }

    .navtabs {
        font-size: 80%;
        margin: auto;
    }

    .heading {
        padding-top: 60px;
    }

    h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .heading-words {
        margin-top: 40px;
    }

    p {
        font-size: 12px;
    }

    .blur-text1 {
        font-size: 80px;
        margin-top: 70px;
        font-weight: 900;
        position: absolute;
        opacity: 0.3;
    }

    .image {
        margin-left: -300px;
        height: 50%;
        width: 50%;
    }

    .about-me {
        font-size: 60px;
        font-weight: 900;
        margin-top: -30px;
        position: absolute;
        opacity: 0.2;
    }

    .profile {
        width: 120%;
        margin-left: 60px;
        margin-top: 25px;
        opacity: 0.9;
    }

    .about-card {
        background-color: #89CFF3;
        width: 70%;
        height: 35%;
        margin-top: 100px;
        margin-left: 40px;
        position: absolute;
        border-radius: 100px;
        overflow: hidden;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .navbar-brand {
        margin: auto;
    }

    .navtabs {
        font-size: 80%;
        margin: auto;
    }

    .heading {
        padding-top: 60px;
    }

    h1 {
        font-size: 20px;
        font-weight: 600;
    }

    .heading-words {
        margin-top: 40px;
    }

    p {
        font-size: 12px;
    }

    .blur-text1 {
        font-size: 80px;
        margin-top: 70px;
        font-weight: 900;
        position: absolute;
        opacity: 0.3;
    }

    .image {
        margin-left: -300px;
        height: 50%;
        width: 50%;
    }

    .about-me {
        font-size: 60px;
        font-weight: 900;
        margin-top: -30px;
        position: absolute;
        opacity: 0.2;
    }

    .profile {
        width: 100%;
        margin-left: 60px;
        margin-top: 25%;
        opacity: 0.9;
    }

    .about-card {
        background-color: #89CFF3;
        width: 70%;
        height: 30%;
        margin-top: 50px;
        margin-left: -10px;
        position: absolute;
        border-radius: 80px;
        overflow: hidden;
    }

    .about-heading {
        margin-top: 50px;
        margin-left: 40px;
    }
}

@media only screen and (min-width:330px) and (max-width:768px) {
    .navbar-brand {
        margin: auto;
    }

    .navtabs {
        font-size: 80%;
        margin: auto;
    }

    .heading {
        padding-top: 60px;
    }

    h1 {
        font-size: 100%;
        font-weight: 600;
    }

    .heading-words {
        margin-top: 20px;
        text-align: center;
    }

    p {
        font-size: 40%;
    }

    .blur-text1 {
        font-size: 40px;
        margin-top: 70px;
        font-weight: 900;
        position: absolute;
        opacity: 0.3;
        margin-left: -80px;
    }

    .image {
        margin-left: -100px;
        height: 50%;
        width: 50%;
    }

    .about-me {
        font-size: 60px;
        font-weight: 900;
        margin-top: -30px;
        position: absolute;
        opacity: 0.2;
    }

    .profile {
        width: 110%;
        margin-left: 60px;
        margin-top: 30%;
        opacity: 0.9;
    }

    .about-card {
        background-color: #89CFF3;
        width: 70%;
        height: 25%;
        margin-top: 30px;
        margin-left: 70px;
        position: absolute;
        border-radius: 80px;
        overflow: hidden;
    }

    .about-heading {
        margin-top: 20px;
        margin-left: 40px;
    }

    .about-des {
        font-size: 8px;
    }
}